[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
        ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
        ignore = dirty
[submodule "vim/bundle/lightline"]
	path = vim/bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
        ignore = dirty
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
        ignore = dirty
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
        ignore = dirty
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/neocomplete"]
	path = vim/bundle/neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "vim/bundle/neosnippet"]
	path = vim/bundle/neosnippet
	url = git@github.com:Shougo/neosnippet.vim.git
[submodule "vim/bundle/neosnippet-snippets"]
	path = vim/bundle/neosnippet-snippets
	url = git@github.com:Shougo/neosnippet-snippets.git
[submodule "vim/bundle/scala"]
	path = vim/bundle/scala
	url = git@github.com:derekwyatt/vim-scala.git
