[user]
	name = Garrett Oreilly
	email = hey@heygarrett.com
	signingkey = 532D9ADF4303874E
[commit]
	gpgsign = true
[core]
	editor = nvim
	excludesfile = /Users/garrett/.gitignore
	autocrlf = input
	pager = less -x1,5
[gpg]
	program = /opt/homebrew/bin/gpg
[fetch]
	prune = true
[init]
	defaultBranch = main
