[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
        ignore = dirty
[submodule "vim/bundle/cocoa"]
	path = vim/bundle/cocoa
	url = git://github.com/msanders/cocoa.vim.git
        ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
        ignore = dirty
[submodule "vim/bundle/lightline"]
	path = vim/bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
        ignore = dirty
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
        ignore = dirty
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
        ignore = dirty
[submodule "vim/bundle/youcompleteme"]
	path = vim/bundle/youcompleteme
	url = git@github.com:Valloric/YouCompleteMe.git
        ignore = dirty
