# ignore all
/*

# unignore directories and files
!deno/
!fish/
!git/
!homebrew/
!jj/
!mise/
!npm/
!nvim/
!ruff/
!starship/
!tealdear/
!wezterm/
!.editorconfig
!.gitignore
!LICENSE

# reignore specifics in unignored directories
fish/fish_variables
nvim/lazy-lock.json
